<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Events</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style1.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          background-color: bisque;
          width: 100%;
        }
        
        th {
            
          border-color: #4c93ce;
          box-shadow: 0 0 15px #6993A2;
          text-align: left;
          padding: 10px;
        }
        td {
            
          border-color: #4c93ce;
          box-shadow: 0 0 15px #6993A2;
          text-align: left;
          padding: 10px;
        }
        
        tr:nth-child(even) {
          border-color: #4c93ce;
          box-shadow: 0 0 10px #8BB6C4;
        }

        .box{
          border-color: #4c93ce;
          box-shadow: 0 0 20px #6993A2;
          text-align: left;
          padding: 10px;
        }
        </style>
        
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Study Planner</h3>
            </div>

            <ul class="list-unstyled components">
                <a class="nav-link active" aria-current="page" href="Student" style="font-size:150%;text-align: center;">
                    <i class="fas fa-home"></i>
                    Home</a>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Courses</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <% data1.forEach(function(val){%>
                            <li><a  href="">
                                <%= val.courseName %>
                              </a></li>
                            <%})%>
                    </ul>
                </li>
               
                
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a class="nav-link" href="logout">Logout</a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <h2 style="margin:0px auto">National Institute of Technology, Calicut</h2>
                        <ul class="nav navbar-nav ml-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell" viewBox="3 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                          </svg>
                          <lable style="margin:0px 10px 0px 5px"><%=usname[0].username%></label>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">Upcoming Events</h2>
            <div class="container">
                
             <table >
                <tr>
                    <th>Message</th>
                    <th>Timing</th>
                    <th>Course</th>
                    <th>Type</th>
                </tr>
                <%data.forEach(function(y){%>
                <tr>
                    <td><%= y.N_Message %> </td>
                    <td><%= y.Timing %></td>
                    <td><%= y.course_id %></td>
                    <td><%= y.Type %></td>
                </tr>
                <%})%>
            </table>
            </div>
            <br><br><br>  
            <div style="background-color: bisque;" class="box">
                <div id="box">
                <h3><u>Workshop</u></h3><br>
                <%wrkshop.forEach(function(y){%>
                <h5><%= y.course_id %></h5>
                <p><%= y.N_Message %></p>
                <p style="margin-left:10%">Time: <i><%= y.Timing %></i></p>
                <%})%>
            </div>
            </div>  
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>